.App {
  display: inline-grid;
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px;
  grid-template-areas: "days cells"
                      "empty months";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.months, 
.cells,
.days {
  display: grid;
}

.days {
  grid-area: days; 
  grid-template-rows: repeat(7, 15px);
  grid-gap: 5px;
}



.months {
  grid-area: months;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.cells {
  grid-area: cells;
  grid-gap: 5px;
  grid-template-rows: repeat(7, 15px);
  grid-auto-flow: column;
  grid-auto-columns: 15px;
}

.cells li {
  background-color: #ebedf0;
}